click==8.3.1
joblib==1.5.2
lightning==2.5.3
matplotlib==3.10.8
numpy==2.4.2
optuna==4.5.0
pandas==3.0.1
psrn==0.1.1
pysindy==2.0.0
PyYAML==6.0.3
scikit_learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
sympy==1.13.3
torch==2.8.0+cu129
tqdm==4.67.1
